.header {
  position: absolute;
  right: 70px;
  top: 45px;
  &__btn {
    width: 35px;
    height: 35px;
    border: none;
    background: url(../../assets/svg/carbon_settings.svg);
    cursor: pointer;
    &:hover {
      opacity: 0.6;
      transition: 0.5s;
    }
  }
}
