.explore {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  &__text {
    padding: 103px 2px 0 0;
    & p {
      padding: 0 0 26px 0;
      font-weight: 300;
      font-size: 22px;
      line-height: 38px;
      color: #ffffff;
      & span {
        color: #caaa7d;
      }
    }
  }
  &__img {
    position: relative;
    width: 720px;
    height: 700px;
    margin: 15px 0 0 0;
    z-index: 1;
  }
  &__pic {
    position: absolute;
    left: 0;
    z-index: 2;
  }
  &__pic-mid {
    position: absolute;
    left: 422px;
    z-index: 3;
  }
}

@media (max-width: 1024px) {
  .explore {
    &__container {
      flex-direction: column;
    }
    &__text {
      padding: 87px 2px 0 0;
      & p {
        padding: 0;
        font-size: 20px;
        line-height: 35px;
        &:last-child {
          display: none;
        }
      }
    }
    &__img {
      margin: 2px auto 0;
    }
    // &__pic {
    //   position: absolute;
    //   left: 0;
    //   z-index: 2;
    // }
    // &__pic-mid {
    //   position: absolute;
    //   left: 422px;
    //   z-index: 3;
  }
}
