* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.section {
  padding: 75px 0;
}

.dark-section,
header,
footer {
  background: #030303;
}

.video-section {
  padding: 95px 0 75px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);
}

.section-title {
  font-family: "Forum", cursive;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.section-title:hover {
  color: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.dark-section-title {
  color: #000000;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #710707;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 50px;
    line-height: 75px;
  }
  .section {
    padding: 60px 0;
  }
  .underline-title::after {
    bottom: -23px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 60px;
  }
  .section {
    padding: 40px 0;
  }
}

@media (max-width: 420px) {
  .section-title {
    font-size: 28px;
    line-height: 40px;
  }
}

.header {
  position: relative;
}

.header__container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-wrap {
  display: none;
  position: relative;
  width: 32px;
  height: 2px;
  background: #ffffff;
}

.header__burger-wrap::before {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 0px;
  width: 32px;
  height: 2px;
  background: #ffffff;
}

.header__burger-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 32px;
  height: 2px;
  background: #ffffff;
}

.header__burger-btn {
  padding: 9px 0;
  position: absolute;
  bottom: -9px;
  width: 100%;
  height: 100%;
  background: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.logo__img {
  width: 50px;
  height: 34px;
  margin: 0 25px 7px 0;
  background: url(../assets/svg/Vector.svg) center no-repeat;
}

.logo__text {
  font-family: "Forum", cursive;
  font-size: 28px;
  line-height: 30.91px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 830px;
}

.menu__item {
  padding: 0 0 0 56px;
}

.menu__item > a {
  font-weight: 200;
  line-height: 25.78px;
  letter-spacing: 2px;
  color: #ffffff;
}

.menu__item > a:hover {
  color: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.burger {
  position: absolute;
  z-index: 10;
  left: -2000px;
  width: 297px;
  height: 585px;
  top: 130px;
  background: #030303;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.burger__menu {
  padding: 35px 0 0 55px;
}

.burger__item {
  padding: 0 0 25px 0;
}

.burger__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 122px;
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 2px;
  color: #ffffff;
}

.burger__item > a:hover {
  color: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.burger__content {
  display: none;
}

.hideTitle {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .header__container {
    height: 130px;
  }
  .header__burger-wrap {
    display: block;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
}

@media (max-width: 768px) {
  .header__container {
    height: 110px;
  }
  .logo__img {
    margin: 0 25px 0 0;
  }
  .logo__text {
    padding: 10px 0 0 0;
  }
  .burger {
    position: absolute;
    z-index: 10;
    left: -2000px;
    width: 100%;
    height: 585px;
    top: 100px;
    background: #030303;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
  }
  .burger__menu {
    padding: 45px 0 10px 55px;
  }
  .burger__item {
    padding: 0 0 25px 0;
  }
  .burger__item > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 122px;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .burger__item > a:hover {
    color: #9d8665;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  .burger__content {
    display: block;
    background: #030303;
  }
  .burger__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger__line {
    width: 658px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 35px auto 0;
  }
  .burger__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 32px 23px 0 0;
  }
}

@media (max-width: 420px) {
  .header {
    position: relative;
  }
  .header__container {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__img {
    width: 29px;
    height: 16px;
    background: url(../assets/svg/Vector-2.svg) center no-repeat;
  }
  .logo__text {
    padding: 0;
    font-size: 16px;
    line-height: 18px;
  }
  .burger {
    height: 525px;
  }
  .burger__menu {
    padding: 25px 0 10px 55px;
  }
  .burger__img-wrap {
    width: 95px;
    height: 95px;
    overflow: hidden;
  }
  .burger__img-wrap img {
    height: 100%;
  }
  .burger__line {
    width: 310px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px auto 0;
  }
  .burger__social {
    padding: 5px 0 0 20px;
  }
}

.welcome {
  padding: 0;
}

.welcome__container {
  position: relative;
  background: url(../assets/img/louvre.jpg) 100% 0 no-repeat, #030303;
}

.welcome__content {
  padding: 150px 0 272px 0;
}

.welcome__text {
  padding: 25px 0 75px 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
}

.btn:hover {
  background: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.btn > a {
  padding: 25px 64px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}

.slider__control {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #030303;
  padding: 0 75px;
}

.slider__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
  color: #ffffff;
  line-height: 40px;
}

.slider__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
  margin: 0 0 0 -3px;
}

.slider__icon {
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.slider__icon:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #9d8665;
  cursor: pointer;
}

.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.slider__btn-next {
  background: none;
}

.slider__btn-next:hover svg > path {
  -webkit-transition: 200ms;
  transition: 200ms;
  fill: #9d8665;
}

.slider__btn-prev {
  background: none;
}

.slider__btn-prev:hover svg > path {
  -webkit-transition: 200ms;
  transition: 200ms;
  fill: #9d8665;
}

.slider__active {
  background: #d2b183;
}

@media (max-width: 1024px) {
  .welcome__container {
    background: url(../assets/img/louvre.jpg) 100% 0/700px 525px no-repeat, #030303;
  }
  .welcome__content {
    padding: 50px 0 192px 0;
  }
  .welcome__text {
    padding: 25px 0 50px 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
  .btn {
    width: 300px;
    height: 60px;
    border-radius: 10px;
  }
  .btn > a {
    padding: 20px 44px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }
  .slider__control {
    width: 700px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 75px 0 224px;
  }
  .slider__number {
    font-size: 20px;
    width: 71px;
  }
  .slider__icons {
    width: 160px;
  }
  .slider__icon {
    width: 12px;
    height: 12px;
  }
  .section-title-welcome {
    line-height: 90px;
  }
}

@media (max-width: 768px) {
  .welcome__container {
    background: url(../assets/img/1.jpg) 100% 68% no-repeat;
  }
  .welcome__content {
    text-align: center;
    padding: 0;
  }
  .welcome__text {
    padding: 25px 0 693px 0;
    font-size: 20px;
    line-height: 23px;
  }
  .btn {
    display: none;
  }
  .section-title-welcome {
    line-height: 60px;
  }
  .slider__control {
    height: 100px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 163px 0;
  }
}

@media (max-width: 420px) {
  .section-title-welcome {
    line-height: 40px;
  }
  .welcome__container {
    background: url(../assets/img/1.jpg) 0 69%/100% auto no-repeat;
  }
  .welcome__content {
    padding: 5px 0 0 0;
  }
  .welcome__content h1 {
    padding: 0 0 0 4px;
  }
  .welcome__content h2 {
    padding: 0 7px 0 0;
  }
  .welcome__text {
    padding: 25px 0 415px 0;
    font-size: 16px;
    line-height: 19px;
  }
  .slider__control {
    height: 80px;
    padding: 0 75px;
  }
  .slider__number {
    font-size: 16px;
    width: 50px;
  }
  .slider__icons {
    width: 75px;
  }
  .slider__icon {
    width: 7px;
    height: 7px;
  }
  .slider__btn {
    width: 55px;
  }
  .slider__btn-next > svg {
    width: 20px;
  }
  .slider__btn-prev > svg {
    width: 20px;
  }
}

.visiting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 74px 60px;
  padding: 103px 0 0 0;
}

.card {
  display: block;
}

.card:hover .card__title::after {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.card__img {
  width: 100%;
}

.card__title {
  position: relative;
  padding: 25px 0 23px 0;
  font-family: "Forum", cursive;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.card__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 2px;
  width: 300px;
  background: #710707;
}

.card__subtitle {
  padding: 0 0 10px 0;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.card__text {
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 1024px) {
  .visiting__content {
    gap: 60px 108px;
    padding: 83px 0 0 0;
  }
  .card {
    width: 330px;
  }
  .card__title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
  }
  .card__title::after {
    width: 150px;
  }
  .card__subtitle {
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
  }
  .card__text {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }
  .card__title-2 {
    letter-spacing: 3px;
  }
}

@media (max-width: 768px) {
  .visiting__content {
    gap: 40px 56px;
    padding: 63px 0 40px 0;
  }
  .card {
    width: 280px;
  }
  .card__title {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 3px;
    padding: 19px 0 17px 0;
  }
  .card__title::after {
    width: 150px;
  }
  .card__subtitle {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 420px) {
  .visiting__content {
    padding: 63px 0 0 0;
  }
  .card__title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
    padding: 23.5px 0 22px 0;
  }
  .card__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}

.explore__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.explore__text {
  padding: 103px 2px 0 0;
}

.explore__text p {
  padding: 0 0 26px 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
}

.explore__text p span {
  color: #caaa7d;
}

.explore__img {
  position: relative;
  width: 720px;
  height: 700px;
  margin: 15px 0 0 0;
  z-index: 1;
}

.explore__pic {
  position: absolute;
  left: 0;
  z-index: 2;
}

.explore__pic-mid {
  position: absolute;
  left: 58%;
  z-index: 3;
}

@media (max-width: 1024px) {
  .explore__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explore__text {
    padding: 87px 2px 0 0;
  }
  .explore__text p {
    padding: 0;
    font-size: 20px;
    line-height: 35px;
  }
  .explore__text p:last-child {
    display: none;
  }
  .explore__img {
    margin: 2px auto 0;
  }
}

@media (max-width: 768px) {
  .explore__text {
    display: none;
  }
  .explore__img {
    width: 728px;
    height: 705px;
    margin: 0;
  }
}

@media (max-width: 420px) {
  .explore__container {
    gap: 65px;
  }
  .explore__img {
    width: 380px;
    height: 368px;
  }
  .explore__img > img {
    height: 100%;
  }
}

.video__player {
  position: relative;
}

.video__display {
  max-width: 1440px;
}

.video__display > img {
  width: 100%;
}

.video__start {
  position: absolute;
  left: calc(50% - 110px);
  top: calc(50% - 110px);
  width: 220px;
  height: 220px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background: none;
}

.video__start::after {
  content: "";
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 30px);
  width: 0px;
  height: 0px;
  border: 60px solid transparent;
  border-left: 90px solid #ffffff;
}

.video__start:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.video__control {
  height: 85px;
  background: #000000;
  margin: 0 0 40px 0;
}

.video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 75px 0;
}

.video__text {
  padding: 6px 0 0 0;
  width: 50%;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px 0 30px;
}

.control__progress {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(54%, #710707), color-stop(54%, #fff), to(#fff));
  background: linear-gradient(to right, #710707 0%, #710707 54%, #fff 54%, #fff 100%);
  height: 8px;
  width: 929px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.control__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.control__volume {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(40%, #710707), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
  height: 8px;
  width: 155px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.control__volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.btn-control {
  background: none;
}

.btn-control:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.list__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 12px;
  margin: 40px auto 0;
}

.list__icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #999999;
  margin: 0 0 3px 0;
}

.list__icon:hover {
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #710707;
}

.list__active {
  background: #333333;
}

.list__btn {
  background: none;
}

.list__btn:hover svg > path {
  -webkit-transition: 200ms;
  transition: 200ms;
  fill: #710707;
}

@media (max-width: 1024px) {
  .video__display {
    max-width: 984px;
  }
  .video__start {
    left: calc(50% - 76px);
    top: calc(50% - 76px);
    width: 152px;
    height: 152px;
    border: 5px solid #ffffff;
  }
  .video__start::after {
    top: calc(50% - 40px);
    left: calc(50% - 20px);
    border: 40px solid transparent;
    border-left: 60px solid #ffffff;
  }
  .video__control {
    height: 60px;
    margin: 0 0 38px 0;
  }
  .video__content {
    padding: 0 0 40px 0;
  }
  .video__text {
    display: none;
  }
  .control {
    padding: 0 40px;
  }
  .control__progress {
    height: 5px;
    width: 564px;
  }
  .control__progress::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
  .control__volume {
    height: 5px;
    width: 143px;
  }
  .control__volume::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
  .control__btn-play > svg {
    height: 30px;
    width: 23px;
  }
  .control__btn-mute > svg {
    height: 20px;
    width: 26px;
  }
  .control__btn-screen > svg {
    height: 26px;
    width: 26px;
  }
  .list__item > iframe {
    width: 300px;
    height: 170px;
  }
}

@media (max-width: 768px) {
  .video__start {
    left: calc(50% - 40px);
    top: calc(50% - 38px);
    width: 80px;
    height: 80px;
    border: 4px solid #ffffff;
  }
  .video__start::after {
    top: calc(50% - 22px);
    left: calc(50% - 13px);
    border: 22px solid transparent;
    border-left: 33px solid #ffffff;
  }
  .video__control {
    height: 60px;
    margin: 0 0 20px 0;
  }
  .video__content {
    padding: 0 0 20px 0;
  }
  .control {
    position: relative;
    padding: 5px 30px 0;
  }
  .control__progress {
    width: 100%;
    position: absolute;
    bottom: 55px;
    left: 0;
  }
  .control__volume {
    width: 486px;
  }
  .list {
    padding: 0 0 40px 0;
  }
  .list__video {
    gap: 20px;
    overflow: hidden;
  }
  .list__item > iframe {
    width: 354px;
    height: 199px;
  }
  .list__control {
    width: 190px;
    margin: 15px auto 0;
  }
  .list__icon {
    width: 10px;
    height: 10px;
    margin: 0;
  }
}

@media (max-width: 420px) {
  .video {
    padding: 36px 0;
  }
  .video__start {
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
  }
  .video__start::after {
    top: calc(50% - 22px);
    left: calc(50% - 13px);
    border: 22px solid transparent;
    border-left: 33px solid #ffffff;
  }
  .video__control {
    height: 52px;
    margin: 0 0 40px 0;
  }
  .control {
    position: relative;
    padding: 5px 16px 0 16px;
  }
  .control__progress {
    width: 100%;
    position: absolute;
    bottom: 48px;
    left: 0;
    height: 4px;
  }
  .control__progress::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
  .control__volume {
    width: 200px;
    height: 4px;
  }
  .control__volume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
  .control__btn-play > svg {
    height: 14px;
    width: 18px;
  }
  .control__btn-mute > svg {
    height: 14px;
    width: 18px;
  }
  .control__btn-screen > svg {
    height: 18px;
    width: 18px;
  }
  .list {
    padding: 0 0 3px 0;
  }
  .list__item > iframe {
    width: 180px;
    height: 101px;
  }
  .list__control {
    width: 174px;
    margin: 35px auto 0;
  }
  .list__icon {
    width: 8px;
    height: 8px;
  }
  .list__btn > svg {
    height: 8px;
  }
}

.gallery {
  padding: 75px 0 0 0;
}

.gallery__picture-container {
  height: 1960px;
  overflow-y: hidden;
  position: relative;
}

.gallery__content {
  padding: 0 0 75px 0;
}

.gallery__picture-inner-container {
  height: 2950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 36px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.gallery__picture-inner-container:first-child {
  margin: 50px 0 0 0;
}

.gallery__picture-inner-container > img {
  max-width: 456px;
}

.gallery__blur {
  width: 100%;
  height: 360px;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery-img-padding {
  padding: 50px 0 0 0;
}

@media (max-width: 1024px) {
  .gallery {
    padding: 60px 0 0 0;
  }
  .gallery__picture-container {
    height: 1264px;
  }
  .gallery__content {
    padding: 0 0 60px 0;
  }
  .gallery__picture-inner-container {
    height: 1900px;
    row-gap: 16px;
    -webkit-column-gap: 34px;
            column-gap: 34px;
  }
  .gallery__picture-inner-container > img {
    width: 304px;
  }
  .gallery__blur {
    height: 239px;
  }
}

@media (max-width: 768px) {
  .gallery {
    padding: 40px 0 0 0;
  }
  .gallery__picture-container {
    height: 1080px;
  }
  .gallery__content {
    padding: 0 0 40px 0;
  }
  .gallery__picture-inner-container {
    height: 2700px;
    row-gap: 24px;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
  .gallery__picture-inner-container > img {
    width: 352px;
  }
  .gallery__blur {
    height: 235px;
  }
}

@media (max-width: 420px) {
  .gallery {
    padding: 40px 0 0 0;
  }
  .gallery__picture-container {
    height: 637px;
  }
  .gallery__content {
    padding: 0 0 40px 0;
  }
  .gallery__picture-inner-container {
    height: 2700px;
  }
  .gallery__picture-inner-container > img {
    width: 178px;
  }
  .gallery__blur {
    height: 112px;
  }
}

.tickets__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 103px 0 0 0;
}

.tickets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.type__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.5px;
  padding: 0 0 25px 0;
}

.type__input {
  padding: 0 215px 0 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.type__radio-btn {
  padding: 25px 0 0 0;
}

.type__radio-btn input:hover {
  cursor: pointer;
}

.type__text {
  padding: 23px;
}

.amount__title {
  padding: 0 0 25px 0;
  text-align: end;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.amount__subtitle {
  padding: 0 0 14px 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.amount__block-basic {
  padding: 0 0 10px 25px;
}

.amount__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  width: 150px;
  height: 50px;
  border: solid 3px #000000;
}

.amount__block-senior {
  padding: 0 0 0 25px;
}

.amount__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}

.amount__btn {
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  background: none;
  color: #000000;
}

.amount__btn:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.amount__btn-buy {
  width: 175px;
  height: 50px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
}

.amount__btn-buy:hover {
  background: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
  color: #000000;
}

.number {
  all: unset;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.parallax {
  width: 100%;
  height: 400px;
  background: url(../assets/img/parallax.jpg) 50% 0/auto 100% no-repeat fixed;
}

.booking {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: -2500px;
  background: #00000050;
  opacity: 0;
}

.booking__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  height: 845px;
  background: #ffffff;
}

.booking__btn-close {
  position: absolute;
  background: none;
  top: 30px;
  right: 30px;
}

.booking__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 970px;
  height: 663px;
}

.booking__text {
  width: 400px;
}

.booking__credit {
  width: 530px;
  border: 1px solid #000000;
}

.booking__title {
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9d8665;
  font-family: "Forum", cursive;
  font-weight: 400;
  padding: 0 0 15px 0;
}

.booking__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #710707;
  position: relative;
}

.booking__subtitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #740c11;
  opacity: 0.9;
}

.credit {
  padding: 25px 30px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.credit__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
}

.credit__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
}

.animation {
  left: 0;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .tickets__wrap {
    padding: 83px 0 0 0;
  }
  .tickets__img {
    width: 700px;
    height: 440px;
    overflow: hidden;
  }
  .tickets__img > img {
    width: 100%;
    margin: -48px 0 0 0;
  }
  .tickets__content {
    padding: 0 29px 0 0;
  }
  .type {
    display: none;
  }
  .amount__title {
    padding: 0 0 25px 0;
    text-align: start;
  }
  .amount__subtitle {
    padding: 0 0 10px 0;
  }
  .amount__block-basic {
    padding: 4px 0 25px 0;
  }
  .amount__number {
    padding: 0 13px;
    width: 175px;
  }
  .amount__block-senior {
    padding: 4px 0 0 0;
  }
  .amount__total {
    padding: 25px 10px 69px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .tickets__wrap {
    padding: 63px 0 0 0;
  }
  .tickets__img {
    width: 444px;
    height: 340px;
  }
  .tickets__img > img {
    margin: 0;
  }
  .tickets__content {
    padding: 0 0 0 10px;
    margin: 0 auto;
  }
  .amount__title {
    padding: 0 0 39px 0;
  }
  .amount__subtitle {
    padding: 0 0 10px 0;
  }
  .amount__block-basic {
    padding: 0 0 25px 0;
  }
  .amount__number {
    padding: 0 13px;
    width: 175px;
  }
  .amount__block-senior {
    padding: 0;
  }
  .amount__total {
    padding: 39px 10px 40px 0;
  }
  .parallax {
    height: 300px;
  }
}

@media (max-width: 420px) {
  .tickets__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tickets__img {
    width: 380px;
    height: 160px;
  }
  .tickets__img > img {
    margin: -17% 0;
  }
  .tickets__content {
    padding: 0;
  }
  .amount__title {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    padding: 40px 0 20px 0;
  }
  .amount__subtitle {
    font-size: 16px;
    line-height: 19px;
    padding: 0 0 15px 0;
  }
  .amount__block-basic {
    padding: 0 0 20px 0;
  }
  .amount__total {
    font-size: 16px;
    line-height: 19px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 39px 0 40px 0;
    letter-spacing: 0.5px;
  }
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 103px 0 0 0;
}

.contacts__map {
  width: 960px;
  height: 620px;
  background: url(../assets/img/map.png) 100% 0 no-repeat;
}

.contacts__title {
  padding: 0 0 50px 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts__text {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.contacts__text p {
  padding: 0 0 25px 0;
}

.contacts__text a {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .contacts__content {
    padding: 83px 0 2px 0;
  }
  .contacts__map {
    width: 694px;
    height: 454px;
  }
  .contacts__title {
    padding: 0 0 35px 0;
    font-size: 24px;
    line-height: 28px;
  }
  .contacts__text {
    font-size: 20px;
    line-height: 23px;
  }
  .contacts__text p {
    padding: 0 0 15px 0;
  }
}

@media (max-width: 768px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 63px 0 25px 0;
  }
  .contacts__map {
    width: 728px;
    height: 476px;
  }
  .contacts__title {
    padding: 0 0 40px 0;
    font-size: 20px;
    line-height: 23px;
  }
  .contacts__text {
    font-size: 18px;
    line-height: 21px;
    padding: 0 0 25px 0;
  }
  .contacts__text p {
    padding: 0 0 15px 0;
  }
}

@media (max-width: 420px) {
  .contacts__content {
    padding: 63px 0 0 0;
  }
  .contacts__map {
    width: 380px;
    height: 248px;
    background: url(../assets/img/map-2.png) 100% 0 no-repeat;
  }
  .contacts__title {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer {
  padding: 75px 0 0 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 25px 0;
}

.footer__left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 5px 0 0 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__line {
  height: 3px;
  width: 100%;
  background: #666666;
}

.footer__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  height: 124px;
  margin: 0 auto;
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 200;
}

.footer__sign > a {
  color: #ffffff;
}

.footer__sign > a:hover {
  color: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.menu-footer {
  padding: 12px 0 0 52px;
}

.menu-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
}

.menu-footer__item {
  padding: 0 87px 24px;
}

.social {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.social__links {
  margin: 0 0 27px 23px;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 50px;
}

.social__links:hover {
  border-color: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.social__links:hover svg > path {
  fill: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media (max-width: 1024px) {
  .footer {
    padding: 52px 0 0 0;
  }
  .footer__container {
    padding: 0 0 25px 0;
  }
  .footer__sign {
    padding: 0 20px;
  }
  .menu-footer {
    padding: 14px 0 0 0;
  }
  .menu-footer__item {
    padding: 0 87px 24px 38px;
  }
  .social__links {
    margin: 0 0 21px 23px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0 0 0;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 19px 0;
  }
  .footer__left-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__logo {
    padding: 0;
  }
  .footer__line {
    height: 1px;
  }
  .footer__sign {
    height: 102px;
  }
  .menu-footer {
    padding: 17px 0 0 0;
  }
  .menu-footer__item {
    padding: 0 84px 20px 99px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
  }
  .social {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 13px 0 0 182px;
  }
}

@media (max-width: 420px) {
  .footer__container {
    padding: 0 0 40px 0;
  }
  .footer__left-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__sign {
    font-size: 16px;
    line-height: 22px;
  }
  .footer__img {
    margin: 0 20px 0 0;
  }
  .footer__school {
    display: none;
  }
  .menu-footer {
    padding: 14px 0 0 0;
  }
  .menu-footer__item {
    padding: 25px 88px 0 0;
    font-size: 16px;
    line-height: 19px;
  }
  .social {
    padding: 0;
  }
  .social__links {
    margin: -15px 0 0 2px;
    height: 48px;
  }
}
/*# sourceMappingURL=style.css.map */