.video__player {
  position: relative;
}

.video__start {
  position: absolute;
  left: calc(50% - 110px);
  top: calc(50% - 110px);
  width: 220px;
  height: 220px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background: none;
}

.video__start::after {
  content: "";
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 30px);
  width: 0px;
  height: 0px;
  border: 60px solid transparent;
  border-left: 90px solid #ffffff;
}

.video__start:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.video__control {
  height: 85px;
  background: #000000;
  margin: 0 0 40px 0;
}

.video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 75px 0;
}

.video__text {
  padding: 6px 0 0 0;
  width: 50%;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px 0 30px;
}

.control__progress {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(54%, #710707), color-stop(54%, #fff), to(#fff));
  background: linear-gradient(to right, #710707 0%, #710707 54%, #fff 54%, #fff 100%);
  height: 8px;
  width: 929px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.control__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.control__volume {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(40%, #710707), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
  height: 8px;
  width: 155px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.control__volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.btn-control {
  background: none;
}

.btn-control:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.list__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 12px;
  margin: 40px auto 0;
}

.list__icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #999999;
  margin: 0 0 3px 0;
}

.list__icon:hover {
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #710707;
}

.list__active {
  background: #333333;
}

.list__btn {
  background: none;
}

.list__btn:hover svg > path {
  -webkit-transition: 200ms;
  transition: 200ms;
  fill: #710707;
}
/*# sourceMappingURL=video.css.map */