.welcome {
  padding: 0;
}

.welcome__container {
  position: relative;
  background: url(../assets/img/louvre.jpg) 100% 0 no-repeat, #030303;
}

.welcome__content {
  padding: 150px 0 272px 0;
}

.welcome__text {
  padding: 25px 0 75px 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
}

.btn:hover {
  background: #9d8665;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.btn > a {
  padding: 25px 64px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}

.slider__control {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #030303;
  padding: 0 75px;
}

.slider__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
  color: #ffffff;
  line-height: 40px;
}

.slider__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
  margin: 0 0 0 -3px;
}

.slider__icon {
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.slider__icon:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #9d8665;
  cursor: pointer;
}

.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.slider__btn-next {
  background: none;
}

.slider__btn-next:hover svg > path {
  -webkit-transition: 200ms;
  transition: 200ms;
  fill: #9d8665;
}

.slider__btn-prev {
  background: none;
}

.slider__btn-prev:hover svg > path {
  -webkit-transition: 200ms;
  transition: 200ms;
  fill: #9d8665;
}

.slider__active {
  background: #d2b183;
}

@media (max-width: 1024px) {
  .welcome__container {
    background: url(../assets/img/louvre.jpg) 100% 0/700px 525px no-repeat, #030303;
  }
  .welcome__content {
    padding: 50px 0 192px 0;
  }
  .welcome__text {
    padding: 25px 0 50px 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
  .btn {
    width: 300px;
    height: 60px;
    border-radius: 10px;
  }
  .btn > a {
    padding: 20px 44px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }
  .slider__control {
    width: 700px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 75px 0 224px;
  }
  .slider__number {
    font-size: 20px;
    width: 71px;
  }
  .slider__icons {
    width: 160px;
  }
  .slider__icon {
    width: 12px;
    height: 12px;
  }
  .section-title-welcome {
    line-height: 90px;
  }
}
/*# sourceMappingURL=welcome.css.map */